* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    height: 100%;
    font-family: whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

h1 {
    font-size: 1.9em;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

ul {
    list-style: none;
}
