:root {
    --primary-color: #1A4975;
    --secondary-color: #4169e1;
    --complementary-color: #ca022a;
}

header {
    position: relative;
    background-color: var(--primary-color);
    padding: 8px;
    color: #fff;
}

section {
    margin-top: 64px;
    padding: 20px 0;
}

footer {
    background-color: var(--primary-color);
}

h1 {
    font-weight: 600;
}

h2 {
    margin: 16px 0;
}

div#login {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#intro-banner {
    width: 100%;
    height: 600px;
    margin-top: 0;
    padding: 40px 0;
    background-color: #fff; /* or #95D4DB; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* INTRODUCTION */

#introduction {
    padding: 24px 16px;
    margin: 0 48px;
}

#introduction p {
    margin-top: 28px;
    max-height: 400px;
    overflow: scroll; /* adjust to mobile devices */
}

#introduction button {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 8px;
    padding: 10px 16px;
}

#introduction button:hover {
    background-color: #3159d1;
    margin-top: -1px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .4);
}

/* SLIDER */

#slider {
    width: 60%;
    position: relative;
}

.slide {
    position: relative;
    display: none;
    width: 60vw;
    height: 100%;
    opacity: 0;
    transition: .4s;
}

.active-slide {
    display: block;
    opacity: 1;
}

.slide * {
    position: absolute;
}

.slide img.city {
    position: static;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide img.explorer {
    width: 40%;
    z-index: 2;
}

img.explorer#warsaw {
    bottom: 0;
    left: 0;
}

img.explorer#krakow {
    bottom: 0;
    right: 15%;
}

.slide span {
    top: 4%;
    left: 4%;
    font-size: 2em;
}

.slider-nav {
    visibility: hidden;
    position: absolute;
}

#slider:hover .slider-nav {
    visibility: visible;
}

#slider-bottom-nav {
    bottom: 2%;
    left: 50%;
    width: 56px;
    margin-left: -28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#slider-bottom-nav li {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff6;
}

#slider-bottom-nav li.active {
    background-color: #0008;
}

#slider-bottom-nav li:hover {
    background-color: #fff8;
}

#slider-bottom-nav li.active:hover {
    background-color: #0009;
}

#slider button {
    top: 50%;
    height: 45px;
    width: 45px;
    margin-top: -22.5px;
}

#slider button.previous {
    left: 0;
}

#slider button.next {
    right: 0;
}

button.slider-nav:hover {
    background-color: #fff4;
}

#slider button::after {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff6;
    border-left: 3px solid #fff6;
}

#slider button:hover::after {
    border-color: #fff;
}

#slider button.previous::after {
    transform: rotate(-45deg);
    margin-left: 17px;
}

#slider button.next::after {
    transform: rotate(135deg);
    margin-left: 12px;
}

/* HOW IT WORKS? */

#how-it-works {
    position: relative;
    text-align: center;
}

#how-it-works img {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 5%;
}

#how-it-works p {
    padding: 0 20%;
    width: 60%;
}

/* CITY SELECTION */

#city-selection {
    position: relative;
}

#city-selection h2 {
    text-align: center;
}

#cards-container {
    display: flex;   
    flex-direction: row;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 0 48px;
    border: 1px solid #ccc;
    flex-shrink: 0;
    color: #222;
}

.card.first {
    margin-left: 72px;
}

.card.last {
    margin-right: 72px;
}

.card:hover {
    box-shadow: 0 0 20px -10px #000;
}

.card img {
    width: inherit;
    height: 200px;
}

.card h3 {
    margin: 14px 10px 8px 10px;
}

.card p {
    margin: 0 10px;   
    font-size: 1em;
}

.find-quest {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 12px;
    color: var(--complementary-color);
}

.find-quest span {
    vertical-align: middle;
}

.card-nav {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    background-color: var(--secondary-color);
    border-radius: 24px;
    padding: 4px;
}

.card-nav:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4);
    margin-top: -25px;
    background-color: #3159d1;
}

.card-nav.next {
    right: 12px;
}

.card-nav.previous {
    left: 12px;
}

.card-nav span {
    font-size: 36px;
    color: #fff;
    vertical-align: middle;
}

/* ABOUT US */

#about {
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

#about p {
    width: 70%;
}

#about img {
    position: absolute;
    width: 10%;
    right: 0;
    bottom: 0;
}